name: Markdown Lint

on:
  push:
  pull_request:

jobs:
  mdlint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      # DavidAnson/markdownlint-cli2-action ir plaši lietots rīks MD lintēšanai
      - name: Run markdownlint
        uses: DavidAnson/markdownlint-cli2-action@v17
        with:
          globs: |
            **/*.md